<p id="notice"><%= notice %></p>

<h1>Hamburguesaingredientes</h1>

<table>
  <thead>
    <tr>
      <th>Id hamburguesa</th>
      <th>Id ingrediente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hamburguesaingredientes.each do |hamburguesaingrediente| %>
      <tr>
        <td><%= hamburguesaingrediente.hamburguesa_id %></td>

        <td><%= hamburguesaingrediente.ingrediente_id %></td>
        <td><%= link_to 'Show', hamburguesaingrediente %></td>
        <td><%= link_to 'Edit', edit_hamburguesaingrediente_path(hamburguesaingrediente) %></td>
        <td><%= link_to 'Destroy', hamburguesaingrediente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<% @hamburguesa = Hamburguesa.find(1) %>
    <% @hamburguesa.hamburguesaingredientes.each do |hi| %>
    <li> <%= @hamburguesa.nombre %></li>
    <li><%= hi.hamburguesa_id %></li>
    <li><%= hi.ingrediente_id %></li>
<%end%>

<br>

<%= link_to 'New Hamburguesaingrediente', new_hamburguesaingrediente_path %>
