<p id="notice"><%= notice %></p>

<p>
  <strong>Id hamburguesa:</strong>
  <%= @hamburguesaingrediente.id_hamburguesa %>
</p>

<p>
  <strong>Id ingrediente:</strong>
  <%= @hamburguesaingrediente.id_ingrediente %>
</p>

<%= link_to 'Edit', edit_hamburguesaingrediente_path(@hamburguesaingrediente) %> |
<%= link_to 'Back', hamburguesaingredientes_path %>
