<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hamburguesa.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @hamburguesa.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @hamburguesa.descripcion %>
</p>

<%= link_to 'Edit', edit_hamburguesa_path(@hamburguesa) %> |
<%= link_to 'Back', hamburguesas_path %>
